
ASSIGMENTS/\[WEEK 2\] FAVORITE CELEBRITY/FAVORITE CELEBRITY.html
ASSIGMENTS/\[Week 2\] Favorite Celebrity/KV.jpg
ASSIGMENTS/semantic (3).zip
ASSIGMENTS/semantic (3).zip
ASSIGMENTS/\[Week 2\] Favorite Celebrity/KV.jpg
